<body>
    <div class="login-page">
        <h1>Get $90 off</h1>
        <h3>Get $90 off across your first 4 deliveries + 1 free gift. Includes free shipping when you order today!</h3>
        <div class="form">
          <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
          </form>
          <form class="login-form">
            <input type="text" placeholder="Promotion code"/>
            <input type="password" placeholder="Fisrt name"/>
            <input type="password" placeholder="Last name"/>
            <input type="password" placeholder="Zip code"/>
            <input type="password" placeholder="Email address"/>
            <input type="password" placeholder="Choose a password"/>
            <button>Continue</button>
          </form>
        </div>
      </div>
    
    </body>
    <section class="pics">
      <div class="row">
        <div class="veggies">
          <img src="https://media.sunbasket.com/2020/12/rtb-chopping-3.jpg">
          <h2>Easy & Convenient</h2>
          <p>Quick meal kits and premade meals, delivered to your door</p>
        </div>
        <div class="emblem"><img src="https://media.sunbasket.com/2018/08/usda-organic-seal.png" style="height: 125px; width: 125px;">
        <h2>The Best Quality</h2>
          <p>Enjoy organic fresh produce and clean ingredients. Proud certified organic handler.</p></div>
        <div class="clock"> <img src="https://media.sunbasket.com/2020/12/rtb-timer-3.jpg">
          <h2>Meal Planning Made Easy</h2>
          <p>Put meal prepping on autopilot to eat well all week</p>
        </div>
        </div>
    </section>