.body{
    width: 1050px;
}
.top-page {
    width: 100%;
    padding: 4% 0 0;
    margin: auto;
    text-align: center;
  }
  h1 {
    padding: 0;
    text-align: center;
    font-size: 36px;
    font-family: 'Kavoon', cursive;
    font-weight: 300;
    color: #1a1a1a;
  }
  h2{
      font-family: 'Courier New';
      font-size: 20px;
  }
.slider{
margin: 5px;
padding-bottom: 15px;
padding-top: 15px;

}
